.muvizi_mainbanner {
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.8) url("/images/poster1.jpg");
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
}
